<a href="https://colab.research.google.com/github/trista-paul/DS-Unit-4-Sprint-4-Deep-Learning/blob/master/LS_DS_Unit_4_Sprint_Challenge_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>

## *Data Science Unit 4 Sprint 4*

# Sprint Challenge
### RNNs, CNNs, GANS, and AutoML

In this Sprint Challenge, you'll explore some of the cutting edge of Data Science. *Caution* - these approaches can be pretty heavy computationally. All problems are designed to completed with 5-10 minutes of run time on most machines. If you approach takes longer, please double check your work. 

## Part 1 - RNNs

Use an RNN to fit a classification model on tweets to distinguish from tweets from any two accounts. The following code sample illustrates how to access data from an account (no API auth needed, uses [twitterscraper](https://github.com/taspinar/twitterscraper):

In [1]:
!pip install twitterscraper

Requirement already satisfied: twitterscraper in /usr/local/lib/python3.6/dist-packages (0.9.3)
Requirement already satisfied: lxml in /usr/local/lib/python3.6/dist-packages (from twitterscraper) (4.2.6)
Requirement already satisfied: coala-utils~=0.5.0 in /usr/local/lib/python3.6/dist-packages (from twitterscraper) (0.5.1)
Requirement already satisfied: bs4 in /usr/local/lib/python3.6/dist-packages (from twitterscraper) (0.0.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from twitterscraper) (2.21.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (from bs4->twitterscraper) (4.6.3)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->twitterscraper) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->twitterscraper) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->twitterscraper) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->twitterscraper) (2019.3.9)

In [2]:
from twitterscraper import query_tweets

austen_tweets = query_tweets('from:austen',1000)
len(austen_tweets)

INFO: queries: ['from:austen since:2006-03-21 until:2006-11-16', 'from:austen since:2006-11-16 until:2007-07-14', 'from:austen since:2007-07-14 until:2008-03-10', 'from:austen since:2008-03-10 until:2008-11-06', 'from:austen since:2008-11-06 until:2009-07-04', 'from:austen since:2009-07-04 until:2010-03-01', 'from:austen since:2010-03-01 until:2010-10-27', 'from:austen since:2010-10-27 until:2011-06-25', 'from:austen since:2011-06-25 until:2012-02-20', 'from:austen since:2012-02-20 until:2012-10-17', 'from:austen since:2012-10-17 until:2013-06-14', 'from:austen since:2013-06-14 until:2014-02-10', 'from:austen since:2014-02-10 until:2014-10-08', 'from:austen since:2014-10-08 until:2015-06-05', 'from:austen since:2015-06-05 until:2016-01-31', 'from:austen since:2016-01-31 until:2016-09-28', 'from:austen since:2016-09-28 until:2017-05-26', 'from:austen since:2017-05-26 until:2018-01-21', 'from:austen since:2018-01-21 until:2018-09-18', 'from:austen since:2018-09-18 until:2019-05-17']
INFO: Querying from:austen since:2006-11-16 until:2007-07-14
INFO: Querying from:austen since:2006-03-21 until:2006-11-16
INFO: Querying from:austen since:2007-07-14 until:2008-03-10
INFO: Querying from:austen since:2014-02-10 until:2014-10-08
INFO: Querying from:austen since:2012-02-20 until:2012-10-17
INFO: Querying from:austen since:2011-06-25 until:2012-02-20
INFO: Querying from:austen since:2010-10-27 until:2011-06-25
INFO: Querying from:austen since:2018-01-21 until:2018-09-18
INFO: Querying from:austen since:2016-09-28 until:2017-05-26
INFO: Querying from:austen since:2008-11-06 until:2009-07-04
INFO: Querying from:austen since:2016-01-31 until:2016-09-28
INFO: Querying from:austen since:2015-06-05 until:2016-01-31
INFO: Querying from:austen since:2012-10-17 until:2013-06-14
INFO: Querying from:austen since:2008-03-10 until:2008-11-06
INFO: Querying from:austen since:2017-05-26 until:2018-01-21
INFO: Querying from:austen since:2009-07-04 until:2010-03-01
INFO: Querying from:austen since:2013-06-14 until:2014-02-10
INFO: Querying from:austen since:2010-03-01 until:2010-10-27
INFO: Querying from:austen since:2018-09-18 until:2019-05-17
INFO: Querying from:austen since:2014-10-08 until:2015-06-05
INFO: Got 0 tweets for from%3Aausten%20since%3A2006-03-21%20until%3A2006-11-16.
INFO: Got 0 tweets (0 new).
INFO: Got 0 tweets for from%3Aausten%20since%3A2007-07-14%20until%3A2008-03-10.
INFO: Got 0 tweets (0 new).
INFO: Got 0 tweets for from%3Aausten%20since%3A2006-11-16%20until%3A2007-07-14.
INFO: Got 0 tweets (0 new).
INFO: Got 0 tweets for from%3Aausten%20since%3A2015-06-05%20until%3A2016-01-31.
INFO: Got 0 tweets (0 new).
INFO: Got 0 tweets for from%3Aausten%20since%3A2016-01-31%20until%3A2016-09-28.
INFO: Got 0 tweets (0 new).
INFO: Got 0 tweets for from%3Aausten%20since%3A2010-03-01%20until%3A2010-10-27.
INFO: Got 0 tweets (0 new).
INFO: Got 0 tweets for from%3Aausten%20since%3A2009-07-04%20until%3A2010-03-01.
INFO: Got 0 tweets (0 new).
INFO: Got 0 tweets for from%3Aausten%20since%3A2014-02-10%20until%3A2014-10-08.
INFO: Got 0 tweets for from%3Aausten%20since%3A2012-10-17%20until%3A2013-06-14.
INFO: Got 0 tweets (0 new).
INFO: Got 0 tweets (0 new).
INFO: Got 0 tweets for from%3Aausten%20since%3A2013-06-14%20until%3A2014-02-10.
INFO: Got 0 tweets for from%3Aausten%20since%3A2016-09-28%20until%3A2017-05-26.
INFO: Got 0 tweets (0 new).
INFO: Got 0 tweets for from%3Aausten%20since%3A2011-06-25%20until%3A2012-02-20.
INFO: Got 0 tweets for from%3Aausten%20since%3A2010-10-27%20until%3A2011-06-25.
INFO: Got 0 tweets (0 new).
INFO: Got 0 tweets (0 new).
INFO: Got 0 tweets (0 new).
INFO: Got 0 tweets for from%3Aausten%20since%3A2008-11-06%20until%3A2009-07-04.
INFO: Got 0 tweets (0 new).
INFO: Got 0 tweets for from%3Aausten%20since%3A2014-10-08%20until%3A2015-06-05.
INFO: Got 0 tweets (0 new).
INFO: Got 0 tweets for from%3Aausten%20since%3A2008-03-10%20until%3A2008-11-06.
INFO: Got 0 tweets (0 new).
INFO: Got 1 tweets for from%3Aausten%20since%3A2012-02-20%20until%3A2012-10-17.
INFO: Got 1 tweets (1 new).
INFO: Got 60 tweets for from%3Aausten%20since%3A2017-05-26%20until%3A2018-01-21.
INFO: Got 61 tweets (60 new).
INFO: Got 60 tweets for from%3Aausten%20since%3A2018-09-18%20until%3A2019-05-17.
INFO: Got 121 tweets (60 new).
INFO: Got 60 tweets for from%3Aausten%20since%3A2018-01-21%20until%3A2018-09-18.
INFO: Got 181 tweets (60 new).

181

In [3]:
austen_tweets[0].text

'I love love love working with great people.pic.twitter.com/fCKOm6Vl'

Your Tasks:
* Select two twitter accounts to gather data from
* Use twitterscraper to get ~1,000 tweets from each account
* Encode the characters to a sequence of integers for the model
* Get the data into the appropriate shape/format, including labels and a train/test split
* Use Keras to fit a predictive model, classying tweets as being from one acount or the other
* Report your overall score and accuracy

For reference, the [Keras IMDB classification example](https://github.com/keras-team/keras/blob/master/examples/imdb_lstm.py) will be useful, as well as the RNN code we used in class.

Note - focus on getting a running model, not on making accuracy with extreme data size or epoch numbers. Fit a baseline model based on tweet text. Only revisit and push accuracy or incorporate additional features if you get everything else done!

In [13]:
tommy_tweets = query_tweets('from:tommycollison',1000)

patrick_tweets = query_tweets('from:patrickc', 1000)

INFO: queries: ['from:tommycollison since:2006-03-21 until:2006-11-16', 'from:tommycollison since:2006-11-16 until:2007-07-14', 'from:tommycollison since:2007-07-14 until:2008-03-10', 'from:tommycollison since:2008-03-10 until:2008-11-06', 'from:tommycollison since:2008-11-06 until:2009-07-04', 'from:tommycollison since:2009-07-04 until:2010-03-01', 'from:tommycollison since:2010-03-01 until:2010-10-27', 'from:tommycollison since:2010-10-27 until:2011-06-25', 'from:tommycollison since:2011-06-25 until:2012-02-20', 'from:tommycollison since:2012-02-20 until:2012-10-17', 'from:tommycollison since:2012-10-17 until:2013-06-14', 'from:tommycollison since:2013-06-14 until:2014-02-10', 'from:tommycollison since:2014-02-10 until:2014-10-08', 'from:tommycollison since:2014-10-08 until:2015-06-05', 'from:tommycollison since:2015-06-05 until:2016-01-31', 'from:tommycollison since:2016-01-31 until:2016-09-28', 'from:tommycollison since:2016-09-28 until:2017-05-26', 'from:tommycollison since:2017-05-26 until:2018-01-21', 'from:tommycollison since:2018-01-21 until:2018-09-18', 'from:tommycollison since:2018-09-18 until:2019-05-17']
INFO: Querying from:tommycollison since:2006-03-21 until:2006-11-16
INFO: Querying from:tommycollison since:2006-11-16 until:2007-07-14
INFO: Querying from:tommycollison since:2011-06-25 until:2012-02-20
INFO: Querying from:tommycollison since:2018-01-21 until:2018-09-18
INFO: Querying from:tommycollison since:2016-09-28 until:2017-05-26
INFO: Querying from:tommycollison since:2012-02-20 until:2012-10-17
INFO: Querying from:tommycollison since:2016-01-31 until:2016-09-28
INFO: Querying from:tommycollison since:2015-06-05 until:2016-01-31
INFO: Querying from:tommycollison since:2018-09-18 until:2019-05-17
INFO: Querying from:tommycollison since:2010-10-27 until:2011-06-25
INFO: Querying from:tommycollison since:2012-10-17 until:2013-06-14
INFO: Querying from:tommycollison since:2014-02-10 until:2014-10-08
INFO: Querying from:tommycollison since:2009-07-04 until:2010-03-01
INFO: Querying from:tommycollison since:2013-06-14 until:2014-02-10
INFO: Querying from:tommycollison since:2008-03-10 until:2008-11-06
INFO: Querying from:tommycollison since:2008-11-06 until:2009-07-04
INFO: Querying from:tommycollison since:2017-05-26 until:2018-01-21
INFO: Querying from:tommycollison since:2010-03-01 until:2010-10-27
INFO: Querying from:tommycollison since:2007-07-14 until:2008-03-10
INFO: Querying from:tommycollison since:2014-10-08 until:2015-06-05
INFO: Got 0 tweets for from%3Atommycollison%20since%3A2006-03-21%20until%3A2006-11-16.
INFO: Got 0 tweets (0 new).
INFO: Got 0 tweets for from%3Atommycollison%20since%3A2006-11-16%20until%3A2007-07-14.
INFO: Got 0 tweets (0 new).
INFO: Got 28 tweets for from%3Atommycollison%20since%3A2007-07-14%20until%3A2008-03-10.
INFO: Got 28 tweets (28 new).
INFO: Got 60 tweets for from%3Atommycollison%20since%3A2008-03-10%20until%3A2008-11-06.
INFO: Got 88 tweets (60 new).
INFO: Got 60 tweets for from%3Atommycollison%20since%3A2010-03-01%20until%3A2010-10-27.
INFO: Got 148 tweets (60 new).
INFO: Got 60 tweets for from%3Atommycollison%20since%3A2009-07-04%20until%3A2010-03-01.
INFO: Got 208 tweets (60 new).
INFO: Got 60 tweets for from%3Atommycollison%20since%3A2012-10-17%20until%3A2013-06-14.
INFO: Got 268 tweets (60 new).
INFO: Got 60 tweets for from%3Atommycollison%20since%3A2016-01-31%20until%3A2016-09-28.
INFO: Got 328 tweets (60 new).
INFO: Got 60 tweets for from%3Atommycollison%20since%3A2014-02-10%20until%3A2014-10-08.
INFO: Got 388 tweets (60 new).
INFO: Got 60 tweets for from%3Atommycollison%20since%3A2014-10-08%20until%3A2015-06-05.
INFO: Got 60 tweets for from%3Atommycollison%20since%3A2008-11-06%20until%3A2009-07-04.
INFO: Got 448 tweets (60 new).
INFO: Got 60 tweets for from%3Atommycollison%20since%3A2012-02-20%20until%3A2012-10-17.
INFO: Got 508 tweets (60 new).
INFO: Got 60 tweets for from%3Atommycollison%20since%3A2011-06-25%20until%3A2012-02-20.
INFO: Got 568 tweets (60 new).
INFO: Got 628 tweets (60 new).
INFO: Got 60 tweets for from%3Atommycollison%20since%3A2017-05-26%20until%3A2018-01-21.
INFO: Got 688 tweets (60 new).
INFO: Got 60 tweets for from%3Atommycollison%20since%3A2016-09-28%20until%3A2017-05-26.
INFO: Got 748 tweets (60 new).
INFO: Got 60 tweets for from%3Atommycollison%20since%3A2015-06-05%20until%3A2016-01-31.
INFO: Got 808 tweets (60 new).
INFO: Got 60 tweets for from%3Atommycollison%20since%3A2010-10-27%20until%3A2011-06-25.
INFO: Got 868 tweets (60 new).
INFO: Got 60 tweets for from%3Atommycollison%20since%3A2013-06-14%20until%3A2014-02-10.
INFO: Got 928 tweets (60 new).
INFO: Got 60 tweets for from%3Atommycollison%20since%3A2018-09-18%20until%3A2019-05-17.
INFO: Got 988 tweets (60 new).
INFO: Got 60 tweets for from%3Atommycollison%20since%3A2018-01-21%20until%3A2018-09-18.
INFO: Got 1048 tweets (60 new).
INFO: queries: ['from:patrickc since:2006-03-21 until:2006-11-16', 'from:patrickc since:2006-11-16 until:2007-07-14', 'from:patrickc since:2007-07-14 until:2008-03-10', 'from:patrickc since:2008-03-10 until:2008-11-06', 'from:patrickc since:2008-11-06 until:2009-07-04', 'from:patrickc since:2009-07-04 until:2010-03-01', 'from:patrickc since:2010-03-01 until:2010-10-27', 'from:patrickc since:2010-10-27 until:2011-06-25', 'from:patrickc since:2011-06-25 until:2012-02-20', 'from:patrickc since:2012-02-20 until:2012-10-17', 'from:patrickc since:2012-10-17 until:2013-06-14', 'from:patrickc since:2013-06-14 until:2014-02-10', 'from:patrickc since:2014-02-10 until:2014-10-08', 'from:patrickc since:2014-10-08 until:2015-06-05', 'from:patrickc since:2015-06-05 until:2016-01-31', 'from:patrickc since:2016-01-31 until:2016-09-28', 'from:patrickc since:2016-09-28 until:2017-05-26', 'from:patrickc since:2017-05-26 until:2018-01-21', 'from:patrickc since:2018-01-21 until:2018-09-18', 'from:patrickc since:2018-09-18 until:2019-05-17']
INFO: Querying from:patrickc since:2008-03-10 until:2008-11-06
INFO: Querying from:patrickc since:2010-03-01 until:2010-10-27
INFO: Querying from:patrickc since:2008-11-06 until:2009-07-04
INFO: Querying from:patrickc since:2009-07-04 until:2010-03-01
INFO: Querying from:patrickc since:2006-11-16 until:2007-07-14
INFO: Querying from:patrickc since:2007-07-14 until:2008-03-10
INFO: Querying from:patrickc since:2006-03-21 until:2006-11-16
INFO: Querying from:patrickc since:2014-02-10 until:2014-10-08
INFO: Querying from:patrickc since:2015-06-05 until:2016-01-31
INFO: Querying from:patrickc since:2018-01-21 until:2018-09-18
INFO: Querying from:patrickc since:2011-06-25 until:2012-02-20
INFO: Querying from:patrickc since:2010-10-27 until:2011-06-25
INFO: Querying from:patrickc since:2013-06-14 until:2014-02-10
INFO: Querying from:patrickc since:2016-01-31 until:2016-09-28
INFO: Querying from:patrickc since:2018-09-18 until:2019-05-17
INFO: Querying from:patrickc since:2016-09-28 until:2017-05-26
INFO: Querying from:patrickc since:2012-02-20 until:2012-10-17
INFO: Querying from:patrickc since:2017-05-26 until:2018-01-21
INFO: Querying from:patrickc since:2014-10-08 until:2015-06-05
INFO: Querying from:patrickc since:2012-10-17 until:2013-06-14
INFO: Got 0 tweets for from%3Apatrickc%20since%3A2008-11-06%20until%3A2009-07-04.
INFO: Got 0 tweets (0 new).
INFO: Got 0 tweets for from%3Apatrickc%20since%3A2010-03-01%20until%3A2010-10-27.
INFO: Got 0 tweets for from%3Apatrickc%20since%3A2009-07-04%20until%3A2010-03-01.
INFO: Got 0 tweets for from%3Apatrickc%20since%3A2010-10-27%20until%3A2011-06-25.
INFO: Got 0 tweets (0 new).
INFO: Got 0 tweets (0 new).
INFO: Got 0 tweets (0 new).
INFO: Got 0 tweets for from%3Apatrickc%20since%3A2012-02-20%20until%3A2012-10-17.
INFO: Got 0 tweets (0 new).
INFO: Got 0 tweets for from%3Apatrickc%20since%3A2006-11-16%20until%3A2007-07-14.
INFO: Got 0 tweets (0 new).
INFO: Got 0 tweets for from%3Apatrickc%20since%3A2006-03-21%20until%3A2006-11-16.
INFO: Got 0 tweets (0 new).
INFO: Got 0 tweets for from%3Apatrickc%20since%3A2007-07-14%20until%3A2008-03-10.
INFO: Got 0 tweets (0 new).
INFO: Got 0 tweets for from%3Apatrickc%20since%3A2012-10-17%20until%3A2013-06-14.
INFO: Got 0 tweets (0 new).
INFO: Got 0 tweets for from%3Apatrickc%20since%3A2008-03-10%20until%3A2008-11-06.
INFO: Got 0 tweets (0 new).
INFO: Got 1 tweets for from%3Apatrickc%20since%3A2011-06-25%20until%3A2012-02-20.
INFO: Got 1 tweets (1 new).
INFO: Got 60 tweets for from%3Apatrickc%20since%3A2014-02-10%20until%3A2014-10-08.
INFO: Got 61 tweets (60 new).
INFO: Got 59 tweets for from%3Apatrickc%20since%3A2013-06-14%20until%3A2014-02-10.
INFO: Got 120 tweets (59 new).
INFO: Got 60 tweets for from%3Apatrickc%20since%3A2014-10-08%20until%3A2015-06-05.
INFO: Got 180 tweets (60 new).
INFO: Got 60 tweets for from%3Apatrickc%20since%3A2015-06-05%20until%3A2016-01-31.
INFO: Got 240 tweets (60 new).
INFO: Got 60 tweets for from%3Apatrickc%20since%3A2016-09-28%20until%3A2017-05-26.
INFO: Got 300 tweets (60 new).
INFO: Got 60 tweets for from%3Apatrickc%20since%3A2016-01-31%20until%3A2016-09-28.
INFO: Got 360 tweets (60 new).
INFO: Got 60 tweets for from%3Apatrickc%20since%3A2018-01-21%20until%3A2018-09-18.
INFO: Got 420 tweets (60 new).
INFO: Got 60 tweets for from%3Apatrickc%20since%3A2017-05-26%20until%3A2018-01-21.
INFO: Got 480 tweets (60 new).
INFO: Got 60 tweets for from%3Apatrickc%20since%3A2018-09-18%20until%3A2019-05-17.
INFO: Got 540 tweets (60 new).

In [5]:
len(tommy_tweets)

1048

In [6]:
len(patrick_tweets)

540

In [14]:
type(tommy_tweets[0])

twitterscraper.tweet.Tweet

In [15]:
tommy_tweets[0]

In [16]:
type(patrick_tweets[0])

twitterscraper.tweet.Tweet

In [17]:
patrick_tweets[0]

In [18]:
#convert tweet object to string
index = 0

for tweet in tommy_tweets:
  tweet = tommy_tweets[index].text
  tommy_tweets[index] = tweet
  index = index + 1
  
tommy_tweets[0]

'Good lan, 2 games and la Cuichina pizza. Looking forward to tomorrow,  Monday for the first time...well, ever!'

In [19]:
#convert tweet object to string
index = 0

for tweet in patrick_tweets:
  tweet = patrick_tweets[index].text
  patrick_tweets[index] = tweet
  index = index + 1
  
patrick_tweets[0]

"@enneff not specifically, but we'd love to link to a third-party library if someone wrote one :)"

In [0]:
#get a string with all text
tommy_tweets_string = " ".join(tommy_tweets)
patrick_tweets_string = " ".join(patrick_tweets)
all_text = " ".join([tommy_tweets_string, patrick_tweets_string])

In [0]:
#make a dictionary with all text
characters = list(set(all_text))
num_characters = len(characters)
text_length = len(all_text)

char_to_int = dict((c, i) for i, c in enumerate(characters))
int_to_char = dict((i, c) for i, c in enumerate(characters))

In [41]:
num_characters

150

In [22]:
#apply per tweet
index = 0
tommy_tweets_encoded = []

for tweet in tommy_tweets:
  integer_encoded = [char_to_int[i] for i in tommy_tweets[index]]
  tommy_tweets_encoded.append(integer_encoded)
  index = index + 1
  
tommy_tweets_encoded[0]

[48,
 116,
 116,
 122,
 90,
 50,
 18,
 17,
 26,
 90,
 37,
 90,
 59,
 18,
 33,
 55,
 54,
 90,
 18,
 17,
 122,
 90,
 50,
 18,
 90,
 138,
 66,
 41,
 29,
 128,
 41,
 17,
 18,
 90,
 70,
 41,
 76,
 76,
 18,
 11,
 90,
 10,
 116,
 116,
 30,
 41,
 17,
 59,
 90,
 38,
 116,
 40,
 47,
 18,
 40,
 122,
 90,
 5,
 116,
 90,
 5,
 116,
 33,
 116,
 40,
 40,
 116,
 47,
 26,
 90,
 90,
 98,
 116,
 17,
 122,
 18,
 2,
 90,
 38,
 116,
 40,
 90,
 5,
 128,
 55,
 90,
 38,
 41,
 40,
 54,
 5,
 90,
 5,
 41,
 33,
 55,
 11,
 11,
 11,
 47,
 55,
 50,
 50,
 26,
 90,
 55,
 99,
 55,
 40,
 21]

In [23]:
#apply per tweet
index = 0
patrick_tweets_encoded = []

for tweet in patrick_tweets:
  
  integer_encoded = [char_to_int[i] for i in patrick_tweets[index]]
  
  patrick_tweets_encoded.append(integer_encoded)
    
  index = index + 1
  
patrick_tweets_encoded[0]

[92,
 55,
 17,
 17,
 55,
 38,
 38,
 90,
 17,
 116,
 5,
 90,
 54,
 70,
 55,
 29,
 41,
 38,
 41,
 29,
 18,
 50,
 50,
 2,
 26,
 90,
 145,
 66,
 5,
 90,
 47,
 55,
 71,
 122,
 90,
 50,
 116,
 99,
 55,
 90,
 5,
 116,
 90,
 50,
 41,
 17,
 30,
 90,
 5,
 116,
 90,
 18,
 90,
 5,
 128,
 41,
 40,
 122,
 83,
 70,
 18,
 40,
 5,
 2,
 90,
 50,
 41,
 145,
 40,
 18,
 40,
 2,
 90,
 41,
 38,
 90,
 54,
 116,
 33,
 55,
 116,
 17,
 55,
 90,
 47,
 40,
 116,
 5,
 55,
 90,
 116,
 17,
 55,
 90,
 4,
 72]

In [31]:
len(tommy_tweets_encoded)

1049

In [25]:
len(patrick_tweets_encoded)

540

In [30]:
#label tweets
import numpy as np
tommy_label = np.ones(len(tommy_tweets_encoded)).tolist()
patrick_label = np.zeros(len(patrick_tweets_encoded)).tolist()
print(len(tommy_label), len(patrick_label))

1049 540

In [0]:
#combine the arrays
encoded_tweets = tommy_tweets_encoded + patrick_tweets_encoded
labels = tommy_label + patrick_label

In [36]:
print(len(encoded_tweets), len(labels))

1590 1590

In [59]:
import pandas as pd
data = {'label': labels, 'tweet': encoded_tweets}
df = pd.DataFrame(data = data)
df.head(5)

  label                                              tweet
0     1  [48, 116, 116, 122, 90, 50, 18, 17, 26, 90, 37...
1     1  [121, 66, 54, 5, 90, 38, 41, 17, 41, 54, 128, ...
2     1  [10, 116, 116, 30, 41, 17, 59, 90, 38, 116, 40...
3     1  [140, 128, 116, 71, 122, 90, 128, 18, 99, 55, ...
4     1                       [10, 18, 70, 5, 116, 70, 21]

In [64]:
X = df['tweet'].values
y = df['label'].values
print(X.shape, y.shape)

(1590,) (1590,)

In [0]:
import keras
from keras.preprocessing import sequence
from keras.models import Sequential
from keras.layers import Dense, Embedding
from keras.layers import LSTM

from sklearn.model_selection import train_test_split

In [0]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y,
                                                test_size = 0.2,
                                                random_state = 0)

In [66]:
print(ytest[0]) #shape of a y value

1.0

In [67]:
Xtest[0] #shape of an X value

[37,
 108,
 90,
 142,
 99,
 55,
 40,
 2,
 116,
 17,
 55,
 90,
 47,
 128,
 116,
 90,
 54,
 41,
 59,
 17,
 54,
 90,
 66,
 70,
 90,
 38,
 116,
 40,
 90,
 10,
 18,
 33,
 145,
 122,
 18,
 90,
 41,
 54,
 90,
 41,
 33,
 70,
 50,
 41,
 29,
 41,
 5,
 50,
 2,
 90,
 18,
 59,
 40,
 55,
 55,
 41,
 17,
 59,
 90,
 5,
 116,
 90,
 54,
 70,
 55,
 17,
 122,
 90,
 128,
 116,
 66,
 40,
 54,
 90,
 55,
 99,
 55,
 40,
 2,
 90,
 47,
 55,
 55,
 30,
 90,
 47,
 18,
 2,
 26,
 90,
 47,
 18,
 2,
 90,
 116,
 66,
 5,
 54,
 41,
 122,
 55,
 90,
 5,
 128,
 55,
 41,
 40,
 90,
 29,
 116,
 33,
 38,
 116,
 40,
 5,
 90,
 76,
 116,
 17,
 55,
 90,
 80,
 128,
 116,
 47,
 90,
 116,
 38,
 5,
 55,
 17,
 90,
 122,
 116,
 90,
 70,
 55,
 116,
 70,
 50,
 55,
 90,
 29,
 128,
 116,
 116,
 54,
 55,
 90,
 5,
 128,
 18,
 5,
 25,
 72,
 90,
 54,
 116,
 90,
 5,
 128,
 55,
 2,
 90,
 29,
 18,
 17,
 90,
 50,
 55,
 18,
 40,
 17,
 90,
 17,
 55,
 47,
 90,
 54,
 30,
 41,
 50,
 50,
 54,
 11,
 90,
 148,
 90,
 54,
 66,
 54,
 70,
 55,
 29,
 5,
 90,
 5,
 128,
 18,
 5,
 90,
 47,
 41,
 50,
 50,
 41,
 17,
 59,
 17,
 55,
 54,
 54,
 90,
 5,
 116,
 90,
 145,
 55,
 90,
 66,
 17,
 29,
 116,
 33,
 38,
 116,
 40,
 5,
 18,
 145,
 50,
 55,
 90,
 135,
 40,
 55,
 18,
 50,
 50,
 2,
 135,
 90,
 54,
 5,
 18,
 17,
 122,
 54,
 90,
 5,
 116,
 90,
 54,
 5,
 66,
 122,
 55,
 17,
 5,
 54,
 11,
 90,
 80,
 148,
 90,
 128,
 116,
 70,
 55,
 90,
 54,
 116,
 11,
 90,
 72]

In [68]:
max_features = num_characters #number of character mappings in dict
maxlen = 240 #number of characters in tweet
batch_size = 32

Xtrain = sequence.pad_sequences(Xtrain, maxlen=maxlen)
Xtest = sequence.pad_sequences(Xtest, maxlen=maxlen)

model = Sequential()
model.add(Embedding(max_features, 128))
model.add(LSTM(128, dropout=0.2, recurrent_dropout=0.2))
model.add(Dense(1, activation='sigmoid'))

model.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

model.fit(Xtrain, ytrain, batch_size=32, epochs=15,
          validation_data=(Xtest, ytest))

score, acc = model.evaluate(Xtest, ytest,
                            batch_size=32)

print('Test score:', score)
print('Test accuracy:', acc)

ValueError: ignored

## Part 2 - CNNs
Time to play "find the frog!" Use Keras and ResNet50 to detect which of the following images contain frogs:

In [0]:
!pip install google_images_download

Collecting google_images_download
  Downloading https://files.pythonhosted.org/packages/a5/a7/1dc0de31c24d6b93469f46d743f36a7f51406d4e452690706ac5be2a5eab/google_images_download-2.7.1.tar.gz
Collecting selenium (from google_images_download)
  Downloading https://files.pythonhosted.org/packages/80/d6/4294f0b4bce4de0abf13e17190289f9d0613b0a44e5dd6a7f5ca98459853/selenium-3.141.0-py2.py3-none-any.whl (904kB)
    100% || 911kB 3.5MB/s
Requirement already satisfied: urllib3 in /Users/jonathansokoll/anaconda3/lib/python3.7/site-packages (from selenium->google_images_download) (1.24.1)
Building wheels for collected packages: google-images-download
  Building wheel for google-images-download (setup.py) ... done
  Stored in directory: /Users/jonathansokoll/Library/Caches/pip/wheels/22/f3/7b/d1d7a18d9784458622ef3f9702c0bdbc179b431adde169c1a0
Successfully built google-images-download
Installing collected packages: selenium, google-images-download
Successfully installed google-images-download-2.7.1 selenium-3.141.0

In [0]:
from google_images_download import google_images_download

response = google_images_download.googleimagesdownload()
arguments = {'keywords': "animal pond", "limit": 5, "print_urls": True}
absolute_image_paths = response.download(arguments)

Item no.: 1 --> Item name = animal pond
Evaluating...
Starting Download...
Image URL: https://www.enchantedlearning.com/pgifs/Pondanimals.GIF
Completed Image ====> 1.Pondanimals.GIF
Image URL: https://i.ytimg.com/vi/NCbu0TND9vE/hqdefault.jpg
Completed Image ====> 2.hqdefault.jpg
Image URL: https://get.pxhere.com/photo/water-animal-pond-wildlife-mammal-fish-eat-fauna-whiskers-vertebrate-otter-mink-marmot-sea-otter-mustelidae-1383482.jpg
Completed Image ====> 3.water-animal-pond-wildlife-mammal-fish-eat-fauna-whiskers-vertebrate-otter-mink-marmot-sea-otter-mustelidae-1383482.jpg
Image URL: https://pklifescience.com/staticfiles/articles/images/PKLS4116_inline.png
Completed Image ====> 4.PKLS4116_inline.png
Image URL: http://images.animalpicturesociety.com/images/5d/alligator_animal_on_pond.jpg
Completed Image ====> 5.alligator_animal_on_pond.jpg

Errors: 0

At the time of writing at least a few do, but since the internet changes - it is possible your 5 won't. You can easily verify yourself, and (once you have working code) increase the number of images you pull to be more sure of getting a frog. Your goal is validly run ResNet50 on the input images - don't worry about tuning or improving the model. 

*Hint:* ResNet 50 doesn't just return "frog". The three labels it has for frogs are bullfrog, tree frog, and tailed frog.

Stretch goal - also check for fish.

In [0]:
# TODO - your code!
raise Exception("This task is incomplete. \nReplace this line with your code.")

Exception: This task is incomplete.
Replace this line with your code.

## Part 3 - AutoML

Use [TPOT](https://epistasislab.github.io/tpot/) to fit a predictive model for the King County housing data, with `price` as the target output variable.

In [0]:
!pip install tpot

In [0]:
import pandas as pd

url = "https://raw.githubusercontent.com/ryanleeallred/datasets/master/kc_house_data.csv"
df = pd.read_csv(url)

df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

As with previous questions, your goal is to run TPOT and successfully run and report error at the end. Also, in the interest of time, feel free to choose small `generation=1`and `population_size=10` parameters, so your pipeline runs efficiently. You will want to be able to iterate and test. 

*Hint:* You will have to drop and/or type coerce at least a few variables to get things working. It's fine to err on the side of dropping to get things running - as long as you still get a valid model with reasonable predictive power.

In [0]:
# TODO - your code!
raise Exception("This task is incomplete. \nReplace this line with your code.")

Exception: This task is incomplete.
Replace this line with your code.

## Part 4 - More... 

Answer the following questions, with a target audience of a fellow Data Scientist:
* What do you consider your strongest area as a Data Scientist? 
* What area of Data Science would you most like to learn more about and why? 
* Where do you think Data Science will be in 5 years? 

A few sentences per answer is fine. Only elaborate if time allows. Use markdown to format your answers.

Thank you for your hard, and congratulations!! You've learned a lot, and you should proudly call yourself a Data Scientist.